@import 'variables';
@import 'mixins';

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: $background;
  color: $text-color;
  font-size: 18px;
  line-height: 1.1;
  min-height: 100%;
}

.hero-section {
  padding-top: 1.5rem;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url(/Images/57c2d86bb166809064181470_hero-bg.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: no-repeat;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.hero-container {
  display: flex;
  height: 770px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

//navbar stylings
.navbar-wrapper {
  width: 100%;
  display: flex;
  background-color: transparent;
  z-index: 40000000;
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;

  /** TEXT GRADIENT */
  color: #eef2e1;
  background-image: -webkit-linear-gradient(
    45deg,
    #eef2e1 56%,
    #d6d6d6 96%,
    #cfe4ff 89%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  @include tab {
    display: none;
  }

  .nav-link {
    display: inline-block;
    padding: clamp(0.75rem, -0.875rem + 2.67vw, 1.125rem);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: $logo;
    font-weight: 500;
    transition: all 0.5s ease-out;

    &:hover {
      color: rgba(177, 177, 177, 0.75);
    }
  }
}

.display-mobile {
  display: none;
  @include tab {
    display: block;
  }

  .hamburger-icon {
    width: clamp(2.75rem, 2.156rem + 2.64vw, 3.625rem);
  }
}

.hero-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .hero-content-container {
    text-align: center;

    .hero-header {
      font-size: clamp(2.188rem, 1.708rem + 2.56vw, 3.625rem);
      text-transform: uppercase;
      color: rgba(255, 255, 255);
      line-height: 1.1;
      font-weight: 700;
      margin-bottom: 23px;
    }

    .hero-content {
      font-size: clamp(1rem, 0.932rem + 0.34vw, 1.188rem);
      line-height: 1.1;
      color: rgba(255, 255, 255);
      text-shadow: 0 1px 0 #000;
      margin: 0 auto;
      margin-bottom: 28px;
      max-width: 800px;
      text-align: center;
    }

    .hero-downloads {
      text-align: center;
      @include mobile {
        @include flex;
        flex-direction: column;
      }

      .btn-hero {
        @include download-btn;
        @include mobile {
          width: 100%;
        }

        &:hover {
          background-color: #0051ffd2;
          box-shadow: inset 0 0 0 1px rgb(74, 36, 79);
        }
      }

      .download {
        @include mobile {
          margin-bottom: 14px;
        }
      }

      .features {
        background-color: transparent;
        margin-left: 5px;
        transition: all 0.5s ease-out;

        &:hover {
          background-color: transparent;
          box-shadow: inset 0 0 0 1px rgb(74, 36, 79);
        }
      }
    }
  }
}

.arrow-wrapper {
  padding: 15px 0;
  text-align: center;

  .hero-scroll {
    color: #fff;
    font-size: 42px;
    line-height: 1;
    font-weight: 400;
  }
}

//about styling
.main-section {
  margin-bottom: 1rem;
  padding-top: 1rem;

  .main-section-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.2rem;
  }
}

.about-header__wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.about-header {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Nunito Sans', sans-serif;
  color: #333;
  font-size: 28px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
}

.about-header--content {
  font-size: 16px;
  line-height: 1.1;
  color: #333;
}

.line-border {
  display: block;
  width: 70px;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #0051ffd2;
}

.about-contentWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include mini-tab {
    flex-direction: column;
    width: 100%;
    flex-basis: 100%;
  }
  @include mobile {
    flex-direction: column;
    max-width: 100%;
    flex-basis: 100%;
  }
}

.about-content {
  color: #000;
  width: 50%;
  font-size: clamp(1rem, 0.932rem + 0.34vw, 1.188rem);
  line-height: 1.1;
  @include mini-tab {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }

  .about-paragraph {
    max-width: 100%;
    @include mini-tab {
      text-align: justify;
      text-align-last: center;
    }
  }
}

.about-photo {
  max-width: 100%;
  text-align: center;
  flex-basis: 50%;

  .about-image {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
}

//portfolio styling
.portfolio-header__wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.portfolio-header {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Nunito Sans', sans-serif;
  color: #333;
  font-size: 28px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio-header--content {
  font-size: 16px;
  line-height: 1.1;
  color: #333;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  @include tab {
    flex-wrap: wrap;
  }

  .portfolio-pictureWrapper {
    max-width: 25%;
    flex-basis: 25%;
    text-decoration: none;
    @include tab {
      max-width: 50%;
      flex-basis: 50%;
    }

    @include mobile {
      max-width: 100%;
      flex-basis: 100%;
    }

    .overlay {
      position: relative;
      display: inline-block;
      max-width: 100%;

      .portfolio-picture {
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
      }

      .overlay-background {
        opacity: 0;
        transition: opacity 500ms ease-out 0s;
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgba(69, 134, 241, 0.8);

        &:hover {
          opacity: 1;
        }

        .contrast {
          color: #fff;
          text-shadow: 0 1px 0 #000;
          margin-top: 20px;
          margin-bottom: 10px;
          font-family: 'Nunito Sans', sans-serif;
          font-size: 20px;
          line-height: 28px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}

#portfolio-padding {
  @include tab {
    padding: 0px 0px;
  }
  @include mobile {
    padding: 0;
  }
}

.contact-now_innerWrapper {
  max-width: 1300px;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;

  .contact-now {
    font-size: 22px;
    margin-bottom: 30px;
    line-height: 1.2;
  }

  .contact-btn {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    padding: 24px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #0052ff;
    background-color: transparent;
    -webkit-appearance: button;
    appearance: button;
    overflow: visible;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
    @include mobile {
      width: 100%;
    }
  }
}

//testimonials styling
.testimonials {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(/Images/57c30503617cac9b64365d2e_testimonial-bg.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  text-transform: uppercase;
  min-height: 450px;
  margin-bottom: 3rem;
  padding-top: 3rem;

  .testimonials-container {
    max-width: 1300px;
    padding: 0 1.2rem;
    margin: 0 auto;

    .testimonials-header_wrapper {
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: center;

      .testimonial-header {
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: Nunito, sans-serif;
        color: #333;
        font-size: 28px;
        line-height: 36px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0 1px 0 #000;
      }

      .testimonial-lineBorder {
        background-color: #fff;
        display: block;
        width: 70px;
        height: 2px;
        margin: 0 auto;
        margin-top: 20px;
        color: #fff;
        text-shadow: 0 1px 0 #000;
      }
    }

    .testimonial-sliderWrapper {
      height: 200px;
      background-color: transparent;
      text-align: center;
      position: relative;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      @include mini-tab {
        height: 250px;
      }

      @include mobile {
        height: 400px;
      }

      .slider-mask {
        display: block;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        position: relative;
        display: block;
        overflow: hidden;
        z-index: 1;
        left: 0;
        right: 0;
        height: 100%;
        white-space: nowrap;

        .slide {
          transform: translateX(0px);
          opacity: 1;
          transition: transform 500ms ease 0s;
          width: 100%;
          height: 100%;
          text-align: center;
          position: relative;
          display: inline-block;
          vertical-align: top;
          white-space: normal;

          .testimonial-text {
            color: #fff;
            font-size: clamp(1rem, 0.932rem + 0.34vw, 1.188rem);
            line-height: 1.8;
            font-style: italic;
            text-transform: none;
          }

          .testimonial-name {
            margin-top: 15px;
            color: #4d8cf5;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }

      .slider-btns {
        position: absolute;
        z-index: 2;
        top: auto;
        text-align: center;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        padding-top: 10px;
        height: 40px;

        .slider-btn {
          background-color: #fff;
          position: relative;
          display: inline-block;
          width: 1em;
          height: 1em;
          cursor: pointer;
          border-radius: 100%;
          margin: 0 3px 0.5em;
          transition: background-color 100ms, color 100ms;
        }
      }
    }
  }
}

//services styling
.services-containers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: baseline;

  .services-wrappers {
    padding: 15px;
    max-width: 33.3333333%;
    flex-basis: 33.333333%;
    @include mini-tab {
      max-width: 50%;
      flex-basis: 50%;
    }
    @include large-mobile {
      max-width: 100%;
      flex-basis: 100%;
    }

    .service-icon {
      color: #4d8cf5;
      font-size: 36px;
      line-height: 1;
    }

    .services-header {
      margin-top: 20px;
      margin-bottom: 10px;
      color: #333;
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
    }

    .services-content {
      margin-bottom: 20px;
      font-size: clamp(1rem, 0.932rem + 0.34vw, 1.188rem);
      color: #000000a7;
    }
  }
}

//team styling
.teamHeader-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;

  .team-header {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  @include large-mobile {
    flex-direction: column;
  }

  .team-container {
    max-width: 25%;
    flex-basis: 25%;
    @include large-mobile {
      max-width: 100%;
      flex-basis: 100%;
      margin-bottom: 15px;
    }

    .team-wrapper {
      padding: 15px;
      text-align: center;
      @include large-mobile {
        padding: 0;
      }

      .overlay {
        position: relative;
        display: inline-block;
        max-width: 100%;

        img {
          max-width: 100%;
          vertical-align: middle;
          display: inline-block;
        }

        .overlay-background {
          opacity: 0;
          transition: opacity 500ms ease 0s;
          position: absolute;
          left: 0px;
          top: 0px;
          right: 0px;
          bottom: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(69, 134, 241, 0.8);
          &:hover {
            opacity: 1;
          }

          .overlay-content {
            opacity: 0;
            transition: opacity 500ms ease 0s, transform 500ms ease 0s;
            transform: translateX(0px) translateY(20px) translateZ(0px);

            .team-icon {
              display: inline-block;
              width: 30px;
              margin-right: 5px;
              margin-left: 5px;
              background-color: #222;
              text-decoration: none;
              font-family: 'Fontawesome webfont', sans-serif;
              color: #fff;
              line-height: 32px;
              text-align: center;
              transition: all 300ms ease-in-out;
              font-weight: 600;
            }
          }
        }
      }

      .team-name {
        margin-top: 10px;
        margin-bottom: 5px;
        color: #333;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
      }

      .team-title {
        color: #5c5c5c;
        font-size: 15px;
        line-height: 1.1;
        font-weight: 400;
      }
    }
  }
}

//video styling
.video {
  min-height: 470px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  position: relative;
  width: 100%;

  .video-file {
    width: 100% !important;
    position: absolute;
    object-fit: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: -20;
  }
}

.align-center {
  padding: 35px;
  text-align: center;

  .play--btn {
    background-color: transparent;
    max-width: 82px;
    border: 0px;

    .play {
      width: 100%;
      margin-top: 25px;
      margin-bottom: 25px;
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;
    }
  }

  .video-content-wrapper {
    font-size: 22px;
    line-height: 1.2;
    color: #fff;
    text-shadow: 0 1px #000;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;

    .video-content {
      @extend .video-content-wrapper;
    }
  }

  .download {
    @include download-btn;
  }
}
