@mixin mobile {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin tab {
  @media (max-width: 890px) {
    @content;
  }
}

@mixin mini-tab {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin large-mobile {
  @media (max-width: 550px) {
    @content;
  }
}

@mixin team-card {
  @media (max-width: 666px) {
    @content;
  }
}

@mixin download-btn {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 24px;
  font-size: 16px;
  border: 1px solid #0052ff;
  background-color: #0051ffd2;
  -webkit-appearance: button;
  appearance: button;
  overflow: visible;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
}
