body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 1.1;
  min-height: 100%;
}

.hero-section {
  padding-top: 1.5rem;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/Images/57c2d86bb166809064181470_hero-bg.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: no-repeat;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.hero-container {
  display: flex;
  height: 770px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  background-color: transparent;
  z-index: 40000000;
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  /** TEXT GRADIENT */
  color: #eef2e1;
  background-image: -webkit-linear-gradient(45deg, #eef2e1 56%, #d6d6d6 96%, #cfe4ff 89%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 890px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu .nav-link {
  display: inline-block;
  padding: clamp(0.75rem, -0.875rem + 2.67vw, 1.125rem);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  transition: all 0.5s ease-out;
}
.nav-menu .nav-link:hover {
  color: rgba(177, 177, 177, 0.75);
}

.display-mobile {
  display: none;
}
@media (max-width: 890px) {
  .display-mobile {
    display: block;
  }
}
.display-mobile .hamburger-icon {
  width: clamp(2.75rem, 2.156rem + 2.64vw, 3.625rem);
}

.hero-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.hero-content-wrapper .hero-content-container {
  text-align: center;
}
.hero-content-wrapper .hero-content-container .hero-header {
  font-size: clamp(2.188rem, 1.708rem + 2.56vw, 3.625rem);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 23px;
}
.hero-content-wrapper .hero-content-container .hero-content {
  font-size: clamp(1rem, 0.932rem + 0.34vw, 1.188rem);
  line-height: 1.1;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 0 #000;
  margin: 0 auto;
  margin-bottom: 28px;
  max-width: 800px;
  text-align: center;
}
.hero-content-wrapper .hero-content-container .hero-downloads {
  text-align: center;
}
@media (max-width: 360px) {
  .hero-content-wrapper .hero-content-container .hero-downloads {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.hero-content-wrapper .hero-content-container .hero-downloads .btn-hero {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 24px;
  font-size: 16px;
  border: 1px solid #0052ff;
  background-color: rgba(0, 81, 255, 0.8235294118);
  -webkit-appearance: button;
  appearance: button;
  overflow: visible;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
}
@media (max-width: 360px) {
  .hero-content-wrapper .hero-content-container .hero-downloads .btn-hero {
    width: 100%;
  }
}
.hero-content-wrapper .hero-content-container .hero-downloads .btn-hero:hover {
  background-color: rgba(0, 81, 255, 0.8235294118);
  box-shadow: inset 0 0 0 1px rgb(74, 36, 79);
}
@media (max-width: 360px) {
  .hero-content-wrapper .hero-content-container .hero-downloads .download {
    margin-bottom: 14px;
  }
}
.hero-content-wrapper .hero-content-container .hero-downloads .features {
  background-color: transparent;
  margin-left: 5px;
  transition: all 0.5s ease-out;
}
.hero-content-wrapper .hero-content-container .hero-downloads .features:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgb(74, 36, 79);
}

.arrow-wrapper {
  padding: 15px 0;
  text-align: center;
}
.arrow-wrapper .hero-scroll {
  color: #fff;
  font-size: 42px;
  line-height: 1;
  font-weight: 400;
}

.main-section {
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.main-section .main-section-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.about-header__wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.about-header {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Nunito Sans", sans-serif;
  color: #333;
  font-size: 28px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
}

.about-header--content {
  font-size: 16px;
  line-height: 1.1;
  color: #333;
}

.line-border {
  display: block;
  width: 70px;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(0, 81, 255, 0.8235294118);
}

.about-contentWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .about-contentWrapper {
    flex-direction: column;
    width: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 360px) {
  .about-contentWrapper {
    flex-direction: column;
    max-width: 100%;
    flex-basis: 100%;
  }
}

.about-content {
  color: #000;
  width: 50%;
  font-size: clamp(1rem, 0.932rem + 0.34vw, 1.188rem);
  line-height: 1.1;
}
@media (max-width: 767px) {
  .about-content {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .about-content {
    width: 100%;
  }
}
.about-content .about-paragraph {
  max-width: 100%;
}
@media (max-width: 767px) {
  .about-content .about-paragraph {
    text-align: justify;
    text-align-last: center;
  }
}

.about-photo {
  max-width: 100%;
  text-align: center;
  flex-basis: 50%;
}
.about-photo .about-image {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.portfolio-header__wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.portfolio-header {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Nunito Sans", sans-serif;
  color: #333;
  font-size: 28px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio-header--content {
  font-size: 16px;
  line-height: 1.1;
  color: #333;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 890px) {
  .portfolio-grid {
    flex-wrap: wrap;
  }
}
.portfolio-grid .portfolio-pictureWrapper {
  max-width: 25%;
  flex-basis: 25%;
  text-decoration: none;
}
@media (max-width: 890px) {
  .portfolio-grid .portfolio-pictureWrapper {
    max-width: 50%;
    flex-basis: 50%;
  }
}
@media (max-width: 360px) {
  .portfolio-grid .portfolio-pictureWrapper {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.portfolio-grid .portfolio-pictureWrapper .overlay {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.portfolio-grid .portfolio-pictureWrapper .overlay .portfolio-picture {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.portfolio-grid .portfolio-pictureWrapper .overlay .overlay-background {
  opacity: 0;
  transition: opacity 500ms ease-out 0s;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgba(69, 134, 241, 0.8);
}
.portfolio-grid .portfolio-pictureWrapper .overlay .overlay-background:hover {
  opacity: 1;
}
.portfolio-grid .portfolio-pictureWrapper .overlay .overlay-background .contrast {
  color: #fff;
  text-shadow: 0 1px 0 #000;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 890px) {
  #portfolio-padding {
    padding: 0px 0px;
  }
}
@media (max-width: 360px) {
  #portfolio-padding {
    padding: 0;
  }
}

.contact-now_innerWrapper {
  max-width: 1300px;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}
.contact-now_innerWrapper .contact-now {
  font-size: 22px;
  margin-bottom: 30px;
  line-height: 1.2;
}
.contact-now_innerWrapper .contact-btn {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #0052ff;
  background-color: transparent;
  -webkit-appearance: button;
  appearance: button;
  overflow: visible;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
}
@media (max-width: 360px) {
  .contact-now_innerWrapper .contact-btn {
    width: 100%;
  }
}

.testimonials {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/Images/57c30503617cac9b64365d2e_testimonial-bg.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  text-transform: uppercase;
  min-height: 450px;
  margin-bottom: 3rem;
  padding-top: 3rem;
}
.testimonials .testimonials-container {
  max-width: 1300px;
  padding: 0 1.2rem;
  margin: 0 auto;
}
.testimonials .testimonials-container .testimonials-header_wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.testimonials .testimonials-container .testimonials-header_wrapper .testimonial-header {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Nunito, sans-serif;
  color: #333;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.testimonials .testimonials-container .testimonials-header_wrapper .testimonial-lineBorder {
  background-color: #fff;
  display: block;
  width: 70px;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.testimonials .testimonials-container .testimonial-sliderWrapper {
  height: 200px;
  background-color: transparent;
  text-align: center;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (max-width: 767px) {
  .testimonials .testimonials-container .testimonial-sliderWrapper {
    height: 250px;
  }
}
@media (max-width: 360px) {
  .testimonials .testimonials-container .testimonial-sliderWrapper {
    height: 400px;
  }
}
.testimonials .testimonials-container .testimonial-sliderWrapper .slider-mask {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
  left: 0;
  right: 0;
  height: 100%;
  white-space: nowrap;
}
.testimonials .testimonials-container .testimonial-sliderWrapper .slider-mask .slide {
  transform: translateX(0px);
  opacity: 1;
  transition: transform 500ms ease 0s;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}
.testimonials .testimonials-container .testimonial-sliderWrapper .slider-mask .slide .testimonial-text {
  color: #fff;
  font-size: clamp(1rem, 0.932rem + 0.34vw, 1.188rem);
  line-height: 1.8;
  font-style: italic;
  text-transform: none;
}
.testimonials .testimonials-container .testimonial-sliderWrapper .slider-mask .slide .testimonial-name {
  margin-top: 15px;
  color: #4d8cf5;
  font-size: 16px;
  font-weight: 700;
}
.testimonials .testimonials-container .testimonial-sliderWrapper .slider-btns {
  position: absolute;
  z-index: 2;
  top: auto;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-top: 10px;
  height: 40px;
}
.testimonials .testimonials-container .testimonial-sliderWrapper .slider-btns .slider-btn {
  background-color: #fff;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  cursor: pointer;
  border-radius: 100%;
  margin: 0 3px 0.5em;
  transition: background-color 100ms, color 100ms;
}

.services-containers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: baseline;
}
.services-containers .services-wrappers {
  padding: 15px;
  max-width: 33.3333333%;
  flex-basis: 33.333333%;
}
@media (max-width: 767px) {
  .services-containers .services-wrappers {
    max-width: 50%;
    flex-basis: 50%;
  }
}
@media (max-width: 550px) {
  .services-containers .services-wrappers {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.services-containers .services-wrappers .service-icon {
  color: #4d8cf5;
  font-size: 36px;
  line-height: 1;
}
.services-containers .services-wrappers .services-header {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.services-containers .services-wrappers .services-content {
  margin-bottom: 20px;
  font-size: clamp(1rem, 0.932rem + 0.34vw, 1.188rem);
  color: rgba(0, 0, 0, 0.6549019608);
}

.teamHeader-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.teamHeader-wrapper .team-header {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 550px) {
  .team-grid {
    flex-direction: column;
  }
}
.team-grid .team-container {
  max-width: 25%;
  flex-basis: 25%;
}
@media (max-width: 550px) {
  .team-grid .team-container {
    max-width: 100%;
    flex-basis: 100%;
    margin-bottom: 15px;
  }
}
.team-grid .team-container .team-wrapper {
  padding: 15px;
  text-align: center;
}
@media (max-width: 550px) {
  .team-grid .team-container .team-wrapper {
    padding: 0;
  }
}
.team-grid .team-container .team-wrapper .overlay {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.team-grid .team-container .team-wrapper .overlay img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.team-grid .team-container .team-wrapper .overlay .overlay-background {
  opacity: 0;
  transition: opacity 500ms ease 0s;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(69, 134, 241, 0.8);
}
.team-grid .team-container .team-wrapper .overlay .overlay-background:hover {
  opacity: 1;
}
.team-grid .team-container .team-wrapper .overlay .overlay-background .overlay-content {
  opacity: 0;
  transition: opacity 500ms ease 0s, transform 500ms ease 0s;
  transform: translateX(0px) translateY(20px) translateZ(0px);
}
.team-grid .team-container .team-wrapper .overlay .overlay-background .overlay-content .team-icon {
  display: inline-block;
  width: 30px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #222;
  text-decoration: none;
  font-family: "Fontawesome webfont", sans-serif;
  color: #fff;
  line-height: 32px;
  text-align: center;
  transition: all 300ms ease-in-out;
  font-weight: 600;
}
.team-grid .team-container .team-wrapper .team-name {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}
.team-grid .team-container .team-wrapper .team-title {
  color: #5c5c5c;
  font-size: 15px;
  line-height: 1.1;
  font-weight: 400;
}

.video {
  min-height: 470px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
  position: relative;
  width: 100%;
}
.video .video-file {
  width: 100% !important;
  position: absolute;
  object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: -20;
}

.align-center {
  padding: 35px;
  text-align: center;
}
.align-center .play--btn {
  background-color: transparent;
  max-width: 82px;
  border: 0px;
}
.align-center .play--btn .play {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
.align-center .video-content-wrapper, .align-center .video-content-wrapper .video-content {
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  text-shadow: 0 1px #000;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.align-center .download {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 24px;
  font-size: 16px;
  border: 1px solid #0052ff;
  background-color: rgba(0, 81, 255, 0.8235294118);
  -webkit-appearance: button;
  appearance: button;
  overflow: visible;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
  padding: 10px 30px;
}

.blog-grid {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 666px) {
  .blog-grid {
    flex-direction: column;
  }
}
.blog-grid .blog-card-wrapper {
  max-width: 33.3%;
  flex-basis: 33.3%;
}
@media (max-width: 666px) {
  .blog-grid .blog-card-wrapper {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.blog-grid .blog-card-wrapper .blog-card-innerwrapper {
  padding: 15px;
}
.blog-grid .blog-card-wrapper .blog-card-innerwrapper .blog-img {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.blog-grid .blog-card-wrapper .blog-card-innerwrapper .blog-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Nunito, sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.blog-grid .blog-card-wrapper .blog-card-innerwrapper .blog-date {
  margin-bottom: 10px;
  color: #999;
  font-size: 14px;
  line-height: 1;
  font-style: italic;
  font-weight: 600;
}
.blog-grid .blog-card-wrapper .blog-card-innerwrapper .blog-content {
  margin-bottom: 20px;
  color: #5c5c5c;
}
.blog-grid .blog-card-wrapper .blog-card-innerwrapper .read-more {
  display: flex;
  max-width: 100%;
  font-family: "Fontawesome webfont", sans-serif;
  line-height: 1;
  color: #4d8cf5;
  font-weight: 600;
  text-decoration: none;
}
.blog-grid .blog-card-wrapper .blog-card-innerwrapper .read-more .read-more-content {
  margin-right: 5px;
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
}

.blog-btn-wrapper {
  padding: 30px 0;
}

.blog-btn {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 24px;
  font-size: 16px;
  border: 1px solid #0052ff;
  background-color: rgba(0, 81, 255, 0.8235294118);
  -webkit-appearance: button;
  appearance: button;
  overflow: visible;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: transparent;
  color: #000;
  padding: 10px 30px;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}
.form-wrapper .form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-wrapper .form-control .input-wrapper {
  width: 100%;
  padding: 9px 7px;
}

.form-input {
  padding: 14px 14px;
  width: 100%;
  outline: 0;
  font-size: 14px;
  display: block;
  margin-bottom: 4px;
  line-height: 1.23;
  color: #333333;
  background-color: #fff;
  border: 1px solid #cccccc;
}

.form-textarea {
  min-height: 200px;
  display: block;
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  color: #333333;
  vertical-align: middle;
  background-color: #fff;
  outline: 0;
  border: 1px solid #cccccc;
}

.contact-btn-wrapper {
  text-align: center;
  padding: 30px 0;
}
.contact-btn-wrapper .contact-btn {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 24px;
  font-size: 16px;
  border: 1px solid #0052ff;
  background-color: rgba(0, 81, 255, 0.8235294118);
  -webkit-appearance: button;
  appearance: button;
  overflow: visible;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
  padding: 10px 30px;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
