/* Error: expected "+", "-", "*", "/", ",", or ")".
 *    ,
 * 60 |   font-size: clamp(1.3git add .rem, 1.053rem + 0.8vw, 1.75rem);
 *    |                           ^
 *    '
 *   SASS\_main.scss 60:27  @import
 *   SASS\index.scss 1:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "+", "-", "*", "/", ",", or ")".\a    \2577 \a 60 \2502    font-size: clamp(1.3git add .rem, 1.053rem + 0.8vw, 1.75rem);\d\a    \2502                            ^\a    \2575 \a   SASS\\_main.scss 60:27  @import\a   SASS\\index.scss 1:9    root stylesheet';
}
